[run]
source =
    .
omit =
    .tox/*
    travis_pypi_setup.py
    setup.py
[report]
exclude_lines =
    pragma: no cover
    Should not reach here
    def __repr__
    raise NotImplementedError
    except ImportError
