pip==19.2.2  # pyup: update minor
-e .

bumpversion==0.5.3  # pyup: update minor
wheel==0.33.0  # pyup: update minor
cryptography==2.7  # pyup: update minor
psycopg2-binary==2.8.1  # pyup: update minor
sanic==19.6.3  # pyup: update minor
aiohttp==3.5.0  # pyup: update minor
tornado==6.0  # pyup: update minor
async_generator==1.10  # pyup: update minor
quart==0.9.1;python_version>="3.7"  # pyup: update minor
starlette==0.12.0;python_version>="3.6"  # pyup: update minor

# tests
coverage==4.5.1  # pyup: update minor
flake8==3.7.1  # pyup: update minor
tox==3.12.1  # pyup: update minor
pytest==5.1.0  # pyup: update minor
pytest-runner==5.1  # pyup: update minor
pytest-asyncio==0.10.0  # pyup: update minor
pytest-tornado5==2.0.0  # pyup: update minor
pytest-mock==1.10.0  # pyup: update minor
pytest-cov==2.7.1  # pyup: update minor

# docs
Sphinx==2.2.0  # pyup: update minor
Pygments==2.4.0  # pyup: update minor
sphinxcontrib-asyncio==0.2.0  # pyup: update minor
sphinx-rtd-theme==0.4.2  # pyup: update minor
