pip==18.0
-e .

bumpversion==0.5.3
wheel==0.31.1
cryptography==2.3.1
psycopg2-binary==2.7.5
sanic==0.7.0
aiohttp==3.4.0
tornado==4.5.3
async_generator==1.10
quart==0.6.6;python_version>="3.6"

# tests
coverage==4.5.1
flake8==3.5.0
tox==3.2.1
pytest==3.7.3
pytest-runner==4.2
pytest-asyncio==0.9.0
pytest-tornado==0.5.0
pytest-mock==1.10.0
pytest-cov==2.5.1

# docs
Sphinx==1.7.7
Pygments==2.2.0
sphinxcontrib-asyncio==0.2.0
sphinx-rtd-theme==0.4.1
