pip==18.1  # pyup: update minor
-e .

bumpversion==0.5.3  # pyup: update minor
wheel==0.32.2  # pyup: update minor
cryptography==2.4.1  # pyup: update minor
psycopg2-binary==2.7.6.1  # pyup: update minor
sanic==0.8.3  # pyup: update minor
aiohttp==3.4.4  # pyup: update minor
tornado==5.1.1  # pyup: update minor
async_generator==1.10  # pyup: update minor
quart==0.6.10;python_version>="3.6"  # pyup: update minor

# tests
coverage==4.5.1  # pyup: update minor
flake8==3.5.0  # pyup: update minor
tox==3.5.2  # pyup: update minor
pytest==4.0.0  # pyup: update minor
pytest-runner==4.2  # pyup: update minor
pytest-asyncio==0.9.0  # pyup: update minor
pytest-tornado5==2.0.0  # pyup: update minor
pytest-mock==1.10.0  # pyup: update minor
pytest-cov==2.6.0  # pyup: update minor

# docs
Sphinx==1.8.1  # pyup: update minor
Pygments==2.3.0  # pyup: update minor
sphinxcontrib-asyncio==0.2.0  # pyup: update minor
sphinx-rtd-theme==0.4.2  # pyup: update minor
