html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-family: 'Raleway', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #F0F0F0;
    font-weight: 500;
}

a {
    color: #3E6CDE;
}

code, kbd, samp {
    font-family: monospace;
    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
    padding: 0 4px;
    border-radius: 2px;
}

:root {
    --v-primary-base: #212B73;
    --v-secondary-base: #AD755C;
    --v-accent-base: #EEF5FF;
    --v-error: #FF5252;
    --v-info: #BDC8F1;
    --v-info-light: #3E6CDE;
    --v-success: #4CAF50;
    --v-success-light: rgba(76, 175, 80, 0.2);
    --v-warning: #FFC107;
    --v-warning-light: rgba(255, 193, 7, 0.2);
    --v-border: #444b54;
    --v-border-light: #c0cee1;
}

nav {
    background-color: rgba(33, 43, 115, 0.95);
    -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.nav-wrapper {
    padding: 4px 16px;
    display: flex;
    align-items: center;
}

nav .brand-logo {
    position: relative;
    display: flex;
    align-items: center;
    left: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.breadcrumbs {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.breadcrumbs .breadcrumb,
.breadcrumbs .breadcrumb::before {
    font-size: 16px;
    white-space: nowrap;
}


.btn-flat {
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left: 22px;
    text-decoration: none;
    color: #fff;
    padding: 14px;
    font-size: 14px;
    -webkit-transition: .2s;
    transition: .2s;
}

.btn-flat:hover {
    color: #f8d230;
    text-shadow: #f8d230 0 0 5px;
}

a.brackets:before,
span.brackets:empty,
span.brackets > a:before{
    content: "[";
}

a.brackets:after,
span.brackets > a:after {
    content: "]";
}

a.footnote-reference {
    vertical-align: super;
    font-size: 0.8em;
}

.footnote dt {
    float: left;
}

div.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 12px;
}

div.search i {
    position: absolute;
    left: 10px;
    transition: 0.3s;
}

#search:focus + i {
    color: var(--v-primary-base);
}

#search {
    flex: 0.1 1 192px;
    background-color: rgba(255, 255, 255, 0.16);
    border-radius: 28px;
    height: 38px;
    padding: 0 32px 0 42px;
    margin: 0;
    border: none;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.32);
    font-size: 14px;
}

#search:focus {
    border: none;
    background-color: #FFFFFF;
    color: #000000;
}

#search-results {
    position: absolute;
    left: 0;
    right: -250px;
    max-height: 61.8vh;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow: scroll;
    top: 51px;
    padding: 16px;
}

#search-results li {
    float: none;
    line-height: 1.5;
    font-size: 14px;
}

#search-results li a {
    color: #4E7CEE;
    padding: 0;
}

#search-results li .context {
    padding: 0 0 24px 24px;
}
#search-results .highlighted {
    color: #f8d230;
}

.theme-dark {
    color: #FFFFFF;
}

.spacer {
    flex-grow: 1;
}

.img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.sidenav {
    top: 64px;
    z-index: 900;
    box-shadow: none;
    bottom: 0;
    height: auto;
}

.col.body {
    padding: 0;
}

#main-content {
    padding: 0 24px;
    background-color: white;
}

.sidenav ul li:first-of-type {
    display: none;
}

.sidenav ul ul li:first-of-type {
    display: block;
}

.sidenav .caption {
    font-size: 1.2em;
    color: var(--v-primary-base);
    padding: 16px 32px 0 48px;
    position: relative;
    font-weight: 600;
}

.sidenav .caption::before {
    position: absolute;
    display: block;
    content: " ";
    width: 20px;
    height: 20px;
    left: 16px;
    top: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.sidenav li > a {
    padding-left: 48px;
    height: 36px;
    line-height: 36px;
}

.sidenav li li > a {
    padding-left: 70px;
}

.sidenav .caption:nth-of-type(1)::before {
    background-image: url(../images/tutorials-icon.svg);
}
.sidenav .caption:nth-of-type(2)::before {
    background-image: url(../images/how-to-icon.svg);
}
.sidenav .caption:nth-of-type(3)::before {
    background-image: url(../images/explanation-logo.svg);
}
.sidenav .caption:nth-of-type(4)::before {
    background-image: url(../images/reference-logo.svg);
}

.sidenav a.current {
    background-color: var(--v-accent-base);
}

.github {
    margin-left: 16px;
    transition: 0.3s;
}

.github:hover {
    text-shadow: #FFFFFF 0 0 5px;
}

.github i {
    font-size: 40px;
}

.right-nav.col {
    padding: 0;
}

.table-of-contents {
    padding: 16px;
    top: 64px;
    bottom: 0;
    overflow-y: auto;
}

.table-of-contents li {
    padding: 0;
}

.table-of-contents > ul > li > a {
    display: none;
}

.table-of-contents > ul ul > li > a.active,
.table-of-contents > ul ul > li > a:hover {
    padding-left: 14px;
}

.table-of-contents > ul ul ul > li > a.active,
.table-of-contents > ul ul ul > li > a:hover {
    padding-left: 30px;
}

.table-of-contents > ul ul ul > li > a {
    padding-left: 32px;
}

.table-of-contents > ul ul ul ul > li > a.active,
.table-of-contents > ul ul ul ul > li > a:hover {
    padding-left: 46px;
}

.table-of-contents > ul ul ul ul > li > a {
    padding-left: 48px;
}

.table-of-contents a {
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

.table-of-contents a.active,
.table-of-contents a:hover {
    color: var(--v-primary-base);
    border-left: 2px solid var(--v-primary-base);
    font-weight: 500;
}

h1 {
    font-size: 32px;
    margin: 32px 0 20px 0;
    font-weight: 600;
}

h2 {
    font-size: 26px;
    margin: 18px 0 12px 0;
    font-weight: 600;
}

h3 {
    font-size: 22px;
    margin: 17px 0 11px 0;
    font-weight: 600;
}

h4 {
    font-size: 18px;
    margin: 14px 0 9px 0;
    font-weight: 600;
}

h5 {
    font-size: 16px;
    margin: 13px 0 8px 0;
    font-weight: 600;
}

h6 {
    font-size: 15px;
    margin: 12px 0 7px 0;
    font-weight: 600;
}

a.headerlink {
    padding-left: 8px;
    visibility: hidden;
    position: absolute;
    font-family: sans-serif;
}

:hover > a.headerlink {
    visibility: visible;
}

.section {
    /*margin-top: -64px;*/
    /*padding-top: 64px;*/
}

.highlight {
    background-color: rgba(0, 0, 0, 0.8);
    clear: both;
}

.highlight pre {
    border: 1px solid var(--v-border-light);
    padding: 1em;
    font-size: 14px;
    overflow-x: auto;
}

.body li p {
    margin: 0;
}

.body ul li {
    list-style-type: disc;
    margin-left: 2rem;
}

.body ul li li {
    list-style-type: circle;
}

.body ul li li li {
    list-style-type: square;
}

.admonition {
    border-radius: 4px;
    padding: 1px 1rem;
    box-shadow: #D1CECE 0 0 4px;
}

.admonition-title {
    font-size: 18px;
    font-weight: 600;
    color: #3E6CDE;
}

.admonition-title:before {
    content: " ";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 8px -4px 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.admonition.note,
.admonition.seealso {
    background-color: #F5FAFD;
}

.admonition.note .admonition-title:before,
.admonition.seealso .admonition-title:before {
    background-image: url(../images/icon-note.svg);
}

.admonition.tip,
.admonition.hint {
    background-color: #F5FDF6;
}

.admonition.hint .admonition-title:before {
    background-image: url(../images/icon-hint.svg);
}

.admonition.warning {
    background-color: #FDF5F5;
}

.admonition.warning .admonition-title:before {
    background-image: url(../images/icon-warning.svg);
}

.admonition.tip .admonition-title:before {
    background-image: url(../images/icon-info.svg);
}

.body .section ul.boxed-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 700px;
}

.body .section ul.boxed-nav li {
    border-radius: 4px;
    box-shadow: #D1CECE 0 0 4px;
    padding: 10px;
    margin: 25px 0 0;
    width: 340px;
    list-style: none;
    color: #202A73;
    font-weight: 500;
    overflow: hidden;
}

.body .section ul.boxed-nav li div {
    background-color: #F4F7FC;
    border-radius: 4px;
    height: 110px;
    padding: 30px 30px 0;
    background-image: url(../images/box-bg-dec.svg);
    background-repeat: no-repeat;
    background-position: -15px -10px;
}

.body .section ul.boxed-nav li:nth-of-type(3n) div {
    background-image: url(../images/box-bg-dec-2.svg);
}

.body .section ul.boxed-nav li:nth-of-type(3n+1) div {
    background-image: url(../images/box-bg-dec-3.svg);
}

.body .section ul.boxed-nav li a img {
    width: 42px;
    margin: 0 30px 30px 0;
    float: left;
}

.body .section ul.boxed-nav li p {
    font-size: 18px;
    color: #212B73;
    line-height: 18px;
    margin-bottom: 8px;
}

.body .section ul.boxed-nav li p:nth-of-type(2) {
    font-size: 14px;
    word-break: break-word;
}

.body .section ul.boxed-nav p a,
.body .section ul.boxed-nav p a:visited {
    color: #212B73;
}

p.divio {
    position: absolute;
    font-size: 0.8em;
    color: #aaa;
    margin-top: 40px;
}

p.divio a, p.divio a:visited {
    color: #aaa;
}

.github-stars {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 32px;
    border-radius: 27px;
    font-size: 14px;
    font-weight: 500;
}

.github-stars div {
    border: 1px solid #fff;
    line-height: 27px;
    background-color: #1E2B78;
    transition: 0.1s;
    height: 29px;
}

.github-stars div.left {
    border-bottom-left-radius: 27px;
    border-top-left-radius: 27px;
    border-right: none;
    padding: 0 7px 0 34px;
    position: relative;
}

.github-stars div.left .github-logo {
    position: absolute;
    height: 29px;
    top: -1px;
    left: -1px;
}

.github-stars div.right {
    border-bottom-right-radius: 27px;
    border-top-right-radius: 27px;
    padding: 0 7px 0 7px;
    display: flex;
    align-items: center;
}

.github-stars div.right img {
    height: 14px;
    margin-right: 7px;
}

.github-stars:hover {
    color: white;
    text-shadow: none;
    box-shadow: #ffffff 0 0 5px;
}

.btn-large.white img {
    width: 32px;
    height: 32px;
    margin-top: 6px;
}

.btn-large.white div {
    color: #3E6CDE;
    position: absolute;
    bottom: 0;
    width: 56px;
    line-height: 18px;
    font-size: 14px;
    font-weight: 600;
}

.sidenav-overlay {
    z-index: 897;
}

nav a.sidenav-trigger {
    height: 24px;
    margin: 16px 16px 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
nav a.sidenav-trigger hr {
    width: 24px;
    margin: 0;
    border: 0;
    background-color: #fff;
    height: 2px;
}

@media (min-width: 993px) {
    main {
        padding-left: 300px;
    }

    #main-content {
        padding: 0 48px;
        margin: 16px;
        border-radius: 4px;
    }

    .admonition {
        margin: 1.5rem 2rem;
        padding: 1px 3rem;
    }

    img.align-center {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    img.align-left {
        max-width: 100%;
        float: left;
        margin: 0 2rem 1.5rem 0;
    }

    img.align-right {
        max-width: 100%;
        float: right;
        margin: 0 0 1.5rem 2rem;
    }

    .table-of-contents {
        width: calc(25vw - 75px);
    }

    p.divio {
        margin-left: -47px;
    }

    .btn-flat {
        margin-left: 22px;
        padding: 14px;
    }

    .sidenav {
        top: 64px;
    }

    nav a.sidenav-trigger {
        display: none;
    }
}

@media (max-width: 992px) {
    img.align-left,
    img.align-center,
    img.align-right {
        display: block;
        margin: 1.5rem auto;
        max-width: 100%;
    }

    .admonition {
        overflow: scroll;
    }

    #main-content {
        padding-bottom: 56px;
    }

    #main-content p {
        overflow-x: scroll;
    }

    main > .row {
        margin-bottom: 0;
    }

    .breadcrumbs {
        display: none;
    }

    .btn-flat {
        margin-left: 10px;
        padding: 5px;
    }
}

@media (max-width: 740px) {
    #search-container {
        display: none;
    }
}

@media (max-width: 600px) {
    .sidenav {
        top: 56px;
    }
}

@media (max-width: 510px) {
    .github-stars {
        display: none;
    }
}
