.wy-menu ul li:first-of-type {
    display: none;
}

.rst-content .section ul.boxed-nav {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rst-content .section ul.boxed-nav li {
    border-radius: 16px;
    background-color: rgba(0, 0, 128, 0.05);
    padding: 16px;
    margin: 32px 0 0;
    width: 330px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #777;
}

.rst-content .section ul.boxed-nav p:first-of-type {
    margin-top: 5px;
    font-size: 1.3em;
    color: #000;
}

.rst-content .section ul.boxed-nav li a,
.rst-content .section ul.boxed-nav li a:visited {
    color: #777;
}

.rst-content .section ul.boxed-nav p:first-of-type a,
.rst-content .section ul.boxed-nav p:first-of-type a:visited {
    color: #000;
}

.rst-content .section ul.boxed-nav li:nth-of-type(5),
.rst-content .section ul.boxed-nav li:nth-of-type(6),
.rst-content .section ul.boxed-nav li:nth-of-type(7),
.rst-content .section ul.boxed-nav li:nth-of-type(8) {
    background-color: rgba(128, 0, 0, 0.05);
}

p.icons8 {
    position: absolute;
    padding-top: 32px;
    font-size: 0.8em;
    color: #aaa;
}

p.icons8 a, p.icons8 a:visited {
    color: #aaa;
}

@media (min-width: 1200px) {
    div.document {
        position: relative;
    }

    .contents {
        position: fixed;
        overflow-y: auto;
        left: 1100px;
        top: 0;
        width: calc(100vw - 1100px);
        bottom: 0;
        padding: 0 1.618em;
    }

    .contents a, .contents a:visited {
        color: #2980B9;
    }

    .contents p.topic-title {
        margin-top: calc(49px + 29px + 1.618em);
    }

    .rst-content .section .contents > ul > li {
        list-style: none;
        margin: 0;
    }

    .contents > ul > li > p {
        display: none;
    }

    .rst-content .section .contents ul p {
        margin: 0;
    }

    .rst-content .section .contents ul li li {
        list-style: disc;
    }

    .rst-content .section .contents ul li li li {
        list-style: circle;
    }

    .rst-content .section .contents ul li li li li {
        list-style: square;
    }
}

@media (max-width: 1300px) {
    .contents {
        display: none;
    }
}
